<!DOCTYPE html>
<html>
    <head>
        <title>Eberron Random Character Generator</title>
        <link rel="stylesheet" media="all" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Eberron Random Character Generator</h1>
    </body>
</html>