/* Fonts */

@font-face {
  font-family: 'Book Insanity';
  font-style: normal;
  font-weight: normal;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Book Insanity';
  font-style: italic;
  font-weight: normal;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_italic-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_italic-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_italic-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_italic-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Book Insanity';
  font-style: normal;
  font-weight: bold;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Book Insanity';
  font-style: italic;
  font-weight: bold;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold_italic-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold_italic-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold_italic-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/bookinsanity_bold_italic-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Mr. Eaves';
  font-style: normal;
  font-weight: normal;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/mr_eaves_small_caps-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/mr_eaves_small_caps-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/mr_eaves_small_caps-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/mr_eaves_small_caps-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: normal;
  font-weight: normal;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: italic;
  font-weight: normal;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_italic-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_italic-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_italic-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_italic-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: normal;
  font-weight: bold;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Scaly Sans';
  font-style: italic;
  font-weight: bold;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold_italic-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold_italic-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold_italic-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_bold_italic-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'Scaly Sans Caps';
  font-style: normal;
  font-weight: normal;
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_caps-webfont.eot);
  src: url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_caps-webfont.eot?#iefix) format('embedded-opentype'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_caps-webfont.woff) format('woff'),
  url(https://dragonbetween.net/w/skins/Vector/fonts/scaly_sans_caps-webfont.ttf) format('truetype');
}

body {
  background: #fff url(https://dragonbetween.net/w/skins/Vector/images/eberron-top.jpg) no-repeat top center;
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Book Insanity', 'Georgia', serif;
  padding: 0 1em;
}

main {
  margin: 0 auto;
  max-width: 50em;
}

h1 {
  font-family: 'Mr. Eaves';
  font-size: 3em;
}

select {
  display: block;
  margin: 1em 0;
  width: 100%;
}

label,
legend {
  font-family: 'Scaly Sans';
  font-weight: bold;
}

fieldset {
  background: #fff;
  margin: 1em 0;
  padding: 1em;
}

fieldset ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 30em) {
  .many-options li {
    display: inline-block;
    width: 40%;
  }
}

@media (min-width: 50em) {
  .many-options li {
    display: inline-block;
    width: 30%;
  }
}

.many-options + div {
  margin-top: 1em;
}

.toggle {
  color: #007aff;
  cursor: pointer;
  text-decoration: underline;
}

.toggle:hover {
  color: #008dff;
}

input[type="checkbox"] + label,
input[type="radio"] + label{
  font-weight: normal;
}

table.alignment {
  position: relative;
}

table.alignment input {
  position: absolute;
  visibility: hidden;
}

table.alignment input + label {
  background: #ccc;
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em 0;
  text-align: center;
  width: 4em;
}

table.alignment input:checked + label {
  background: #007aff;
  color: #fff;
}

.generate {
  background: #007aff;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Mr. Eaves';
  font-size: 2em;
  margin: 1em auto 4em;
  padding: 1em 4em;
}

section.character {
  background: #fff;
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em;
}

section.character summary {
  cursor: pointer;
}

section.character textarea {
  height: 20em;
  width: 100%;
}