body {
  font-family: Arial, sans-serif;
  padding: 2em;
}

@media (min-width: 50em) {
  body {
    padding: 2em 5%;
  }
}

@media (min-width: 75em) {
  body {
    padding: 2em 10%;
  }
}

label,
fieldset legend {
  display: block;
  font-weight: bold;
}

fieldset {
  margin-top: 2em;
}

label {
  cursor: pointer;
}

.many-options {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

.many-options li {
  display: inline-block;
  width: 16em;
}

.many-options label {
  display: inline-block;
  font-weight: normal;
}

.alignment {
  margin: 2em auto;
}

.alignment td {
  font-size: 1.5em;
  line-height: 3em;
  text-align: center;
  width: 3em;
}

.alignment input {
  position: absolute;
  visibility: hidden;
}

.alignment label {
  background: #ddd;
}

.alignment input:checked + label {
  background: #3366cc;
  color: #fff;
}